


@import url('https://fonts.googleapis.com/css?family=Caveat');


@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
@import url('https://fonts.googleapis.com/css?family=Comfortaa');



body {
  /* background: #ecf0f1; */
  background: #ecf0f1;
  font-family: 'Ubuntu', sans-serif;
  
  
  /* font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif; */
}

.page-wrap {
  margin: 0 auto;
}

input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
  font-size: 0.75em;
  color: #014ECB;
  top: -2.25rem;
  /* transition: all 0.125s cubic-bezier(0.2, 0, 0.03, 1); */
}


.styled-input {
  
  position: relative;
}
.styled-input label {
  color: #999;
  padding: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  /* transition: all 0.25s cubic-bezier(0.2, 0, 0.03, 1); */
  pointer-events: none;
}
.styled-input.wide {
  width: 100%;
}

input {
  padding: 1rem 1rem;
  border: 0;
  width: 100%;
  font-size: 1rem;
}



textarea  {
  padding: 1rem 1rem;
  border: 0;
  width: 100%;
  font-size: 1rem;
  overflow: auto;
  resize: vertical;
}

input ~ span, textarea ~ span :focus {
  display: block;
  width: 0;
  height: 3px;
  background: #014ECB;
  position: absolute;
  bottom: 0;
  left: 0;
  
  transition: all 0.125s cubic-bezier(0.2, 0, 0.03, 1);
}

input ~ span, textarea ~ span {
  display: block;
  width: 0;
  height: 3px;
  background: rgb(202, 204, 207);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}


input:focus, textarea:focus {
  outline: 0;
}
input:focus ~ span, textarea:focus ~ span {
  width: 100%;
  /* transition: all 0.125s cubic-bezier(0.2, 0, 0.03, 1); */
}

textarea {
  width: 100%;
  min-height: 15em;
}

.container{
  min-height:800px;
  padding:10px;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

.notema-card{
  margin-top:30px;
  background-color: rgb(245, 245, 245);
  padding:30px;
  border-radius:20px;
  border: rgba(180, 180, 180,0.6) 1px solid;
}

.notema-card .styled-input {
  margin-top:30px;
  margin-bottom:30px;
}

.styled-input{
  margin-top:30px;
  margin-bottom:30px;
}

div.login-input{
  margin-top:0px;
  margin-bottom:0px;
}

div.registration-input{
  margin-top:0px;
  margin-bottom:0px;
}


.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

input.button{
  max-width:400px;
}

.total-notes-info{
  padding:11px;
  /* font-family: 'Abril Fatface', cursive; */
  font-family: 'Didact Gothic', sans-serif;

  font-size:16pt;
}

.search-notes{
  padding-bottom:14px;
  /* font-family: 'Abril Fatface', cursive; */
  font-family: 'Didact Gothic', sans-serif;
  font-size:16pt;
}



.notema-magic {
  
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 1);
}

.invisible{
  display:none;
}

.visible{
  display:'';
}

.magic-component {
  z-index: 1024;
}

.notema-stydy-content {
  margin-top: 30px;
}

.notema-stydy-nav {
  margin-top: 10px;
}

.note_study_title {
  font-size: 16pt;
  color: white;
  width: 50%;
}

.note_study_body {
  font-size: 16pt;
  color: white;
  overflow: auto;
  background-color: black;
  border: 0px none;
  width: 100%;
}

.notema-magic-hide {
  margin-left: 10px;
  margin-right: 10px;
}

.notema-magic-next {
  margin-left: 10px;
  margin-right: 10px;
}

.welcome-container{
  min-height:800px;
  background-color:black;
}

.welcome-text-container{
  padding-top:26px;
}


h1.notema-heading{
  font-family: 'Ubuntu', sans-serif;

  font-size:46pt;
  color:white;
}

.notema-heading{
  color:white;
}

.notema-heading-study{
  color:white;
}


.study-container{
  min-height:800px;
  background-color:black;
}

.study-text-container{
  padding-top:30px;
}

.color-white{
color:white;
}

h1.color-black{
  color:black;
}


.notema-line{
  height: 2px;
  max-width:100%;
  background-color: white;
  margin-left:120px;
  margin-right:120px;
  margin-bottom:20px;
  border-radius:20px;
}

.pagination-link{
  background-color:white;
}

.pagination-next{
  background-color:white;
}

.pagination-previous{
  background-color:white;
}

.with-notema{
  font-family: 'Comfortaa', cursive;

  font-size:16pt;
  font-weight: 400;
}

.notema-heading-study {
  font-family: 'Ubuntu', sans-serif;

  font-size:46pt;
  color:white;
}

.study-options{
  background-color:rgb(10, 10, 10);
  color:white;
  border: 1px solid rgb(40, 40, 40);
}


div.license-agreement{
  text-align: left;
}

input[type=checkbox]{
  width: auto;
}

.study-mode-buttons{
  margin-left:10px;
  margin-right:10px;
}

textarea.study-mode-note{
  overflow: auto;
  background-color: black;
  width:100%;
  min-height:500px;
}

button.button{
 margin:1px;
}
